<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,inital-scale=1" />
    <link rel="stylesheet" href="bootstrap.min.css" />
    <title>Title</title>
    <style>
        body{
            padding-top:50px;
        }
        .starter{
            padding: 40px 15px;
        }
    </style>
</head>
<body>
    <div class="container" >
        <button type="button" class="btn btn-default" >提交</button>
        <button type="button" class="btn btn-success" >成功</button>
        <button type="button" class="btn btn-info" >成功</button>
        <button type="button" class="btn btn-warning" >成功</button>
        <button type="button" class="btn btn-error" >成功</button>
        <button type="button" class="btn btn-link" >成功</button>
    </div>

    <div class="div" >

        <button type="button" class="btn btn-info btn-lg" >成功</button>
        <button type="button" class="btn btn-info btn-xs" >成功</button>
        <button type="button" class="btn btn-info btn-sm" >成功</button>
    </div>

    <div class="contaner">
        <a role="button" class="btn btn-info btn-lg active">success</a>
        <a role="button" class="btn btn-info btn-lg" disabled="disabled">success</a>
    </div>

    <img alt="" src="aa.jpg" class="img-circle" >
    <img alt="" src="aa.jpg" class="img-responsive" >
    <img alt="" src="aa.jpg" class="img-rounded" >
</body>
</html>