<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--<properties resource="mybatis/mysql.properties"></properties>-->
    <typeAliases>
        <package name="com.hzgg.spring.entity" />
    </typeAliases>

    <!--<environments default="development" >-->
        <!--<environment id="development">-->
            <!--<transactionManager type="jdbc"></transactionManager>-->
            <!--<dataSource type="pooled">-->
                <!--<property name="driver" value="${driver}" />-->
                <!--<property name="url" value="${url}" />-->
                <!--<property name="username" value="${username}" />-->
                <!--<property name="password" value="${password}" />-->

            <!--</dataSource>-->


        <!--</environment>-->

    <!--</environments>-->

    <!--<mappers>-->
        <!--<mapper resource="mybatis/mapping/UserDaoMapper.xml"></mapper>-->
    <!--</mappers>-->
</configuration>